/* screen - signup-hyperlink */

.signup-hyperlink {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1440px;
}

.signup-hyperlink .overlap-group2 {
  height: 900px;
  position: relative;
  width: 1440px;
}

.signup-hyperlink .overlap-group {
  align-items: flex-end;
  background-color: #c4c4c4;
  display: flex;
  height: 141px;
  left: 220px;
  min-width: 1000px;
  padding: 26px 207px;
  position: absolute;
  top: 242px;
}

.signup-hyperlink .title {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 78px;
  text-align: center;
  width: 586px;
}

.signup-hyperlink .overlap-group1 {
  align-items: flex-end;
  background-color: #c4c4c4;
  display: flex;
  height: 141px;
  left: 220px;
  min-width: 1000px;
  padding: 0 163px;
  position: absolute;
  top: 479px;
}

.signup-hyperlink .professor-signup {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 107px;
  text-align: center;
  width: 673px;
}

.signup-hyperlink .pexels-pixabay-159490-1 {
  height: 900px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}
